@charset 'utf-8';

@import 'settings';
@import 'foundation';
@import 'motion-ui';

@include foundation-global-styles;
// @include foundation-grid;
// @include foundation-flex-grid;
@include foundation-xy-grid-classes;
@include foundation-typography;
@include foundation-button;
@include foundation-forms;
// @include foundation-range-input;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-card;
@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
@include foundation-dropdown;
@include foundation-dropdown-menu;
@include foundation-responsive-embed;
@include foundation-label;
@include foundation-media-object;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
// @include foundation-float-classes;
@include foundation-flex-classes;

// @include foundation-prototype-classes;

@include motion-ui-transitions;
@include motion-ui-animations;

$red:#B50000;
$darker-red:#940000;
$lightest-gray:#eceaea;
$light-gray:#999;
body {background:#fff}

.grid-x {
    margin-bottom: 1rem;
}

#header {
    background:linear-gradient(180deg, $lightest-gray, #fff);
}

#search {
  margin-top:10px;
}

.article-list {
    border-right: 1px solid $light-gray;
}

.article-entry {
    border-bottom:1px solid $light-gray;
    margin-bottom:.7rem;
}

.article-list .cell {
    padding:1rem 3rem;
    border-bottom: 1px solid $light-gray;
    text-align: center;
}

.cluster-list-item {
    padding-top:2rem;
    padding-bottom:3rem;
    border-bottom:1px solid $light-gray;
}

.bold {
    font-weight:bold;
}

.italic {
    font-style: italic;
}

.subhead {
    font-style:italic;
    font-size:1.25rem;
    color:$light-gray;
    margin-top:-1rem;
    margin-bottom:0;
}
.pullquote {
    font:italic 1.5rem serif;
    // margin:3rem 15%;
    padding-left:1rem;
    border-left:5px solid #1779ba;
}

.footer {
    margin-top:2rem;
    border-top:1px solid $light-gray;
    padding-top:1rem;
}

.last, .cell .last {
    border:none;
}

li, h1, h2, h3, h4, h5 {
        font-family: 'Montserrat', sans-serif;
}
p, div > a  {
    font-family: 'Open Sans', sans-serif;
}

h1 {
    font-size:2.75rem;
}

h2, h3, h4, h5 {
    color:$red;
}

#headings {
    display:block;
}

a {
    color:$red;
}

h1 a, h1 a:hover {
    color:#000;
}


a:hover {
    color:$darker-red;
}

#content a:hover {
    text-decoration: underline;
}

.menu {
   border-top:1px solid $red;
    margin-bottom: 1rem;
    margin-top:-.5rem;

}

.menu .active > a {
    background: inherit;
    color: $red;
    border-right:1px solid $red;
    border-left:1px solid $red;
    border-bottom:1px solid $red;
}

.pullquote {
    border-left:10px solid $red;
    background-color: $lightest-gray;
    font-size:1.5rem;
    color:#4E4C4C;
    padding: 2rem;
    float:right;
}


#colors h2 {
    display:block;
    width:100%;
    border-bottom:2px solid #4E4C4C;
    margin-bottom:1rem;
}

.color div:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

#color-1 {
    background:$red;
}

#color-2 {
    background:#111;
}

#color-3 {
    background:$lightest-gray;
}

#color-4 {
    background:#4E4C4C;
}

.button {
    background:$red;
    color:#fff;
    margin-bottom:.25rem;
}

.button:hover {
    background:#4E4C4C;
}

.border {
    border-left: 2px solid #4E4C4C;
    padding-left:1rem;

    a {
        display:block;
    }
}